.header {
  width: 100%;
  display: flex;
  background-color: #213547;
  position: fixed;
  top: 0;
  opacity: 0.9;
  justify-content: space-between;

  .logo {
    height: 6em;
    padding: 1.5em;

    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
  }
}
