.Details-Page {
    padding: 1rem;
    margin-top: 4rem;
    color: black;

    .arrow-back {
        display: flex;
        text-decoration: none;
        align-items: center;
        margin-right: 6px;
        color: #E41469;

        &:hover {
            color: black;
        }
    }

    .d-flex {
        display: flex;
    }

    .details-Container {
        align-items: center;

        button {
            color: #FAFAFA;
            background-color: #E41469;
            width: 13rem;
            padding: .5rem;
            font-size: 1.1em;
            border-radius: 25px;
            border-color: #D5D9D9;
            border-style: solid;
            border-width: 1px;

            &:hover {
                cursor: pointer;
            }
        }
    }


    .details-product {
        position: relative;
        flex-basis: 33.33%;
        margin-bottom: 5rem;
        text-align: center;
        padding: 8px;
    }

    .p {
        margin-top: 15px;
        margin-bottom: 100px;
    }


    h1 {
        margin-bottom: 80px;
        border-bottom: 3px solid brown;
    }

    img {
        height: 8rem;
        border-radius: 20px 5px;
    }

    @media (max-width: 767px) {
        .product {
            flex-basis: 50%;
        }
    }

    @media (max-width: 400px) {
        .product {
            flex-basis: 100%;
        }
    }

}